<link rel="import" href="../../../assets/bower/polymer/polymer.html">

<link rel="import" href="../../../assets/bower/clab-ui-components/input/view.html">
<link rel="import" href="../../../assets/bower/clab-ui-components/button/view.html">
<link rel="import" href="../../../assets/bower/clab-ui-components/checkbox/view.html">
<link rel="import" href="../../../assets/bower/clab-ui-components/alert/view.html">


<link rel="import" href="../../wrappers/todos-group/view.html">


<dom-module id="todo-app">
	<template>
		<style></style>

		<header>
			<a class="logo polymer"><img src="../../../assets/images/p-logo.png"></a>
			<div><a target="_blank" href="https://github.com/LasaleFamine/polymer-es6-todo"<i class="fa fa-github"></i></a></div></div>
		</header>


			<div class="alerts-wrapper">
				<div class="alerts">
					<alert-clab id="notify" notify type="[[alertOpts.type]]">[[alertOpts.text]]</alert-clab>
				</div>
			</div>

		<main class="main-content">

			<div class="wrapper">
				<h1 class="center"><i class="clab-icon icon-gear icon colored"></i> Polymer ES6 Todos   </h1>

				<div class="main-actions top">
					<button-clab type="primary" on-btnclick="addTodo" block>Add todo</button-clab>
					<button-clab type="secondary" on-btnclick="selectAll" block>Select all</button-clab>
					<button-clab type="error" on-btnclick="removeTodo" block>Remove todo(s)</button-clab>
				</div>

				<input-clab id="todoInput" on-blur="_checkValue" name="todoinput" label="Todo Input" required value="{{input}}"></input-clab>

				<todos-group id="todosGroup" todos="[[todos]]" todos-archive="[[todosArchive]]"></todos-group>
			</div>

		</main>

		<footer>
			<p class="note-clab">Crafted with <a href="https://github.com/contactlab/contactlab-ui-components">clab-ui-components</a> by <a href="https://github.com/LasaleFamine">LasaleFamine</a> &copy; MIT<br />
			<span><i class="clab-icon icon-power"></i> NOTE: this app is intended for personal testing purposes.</span>
			</p>
		</footer>


	</template>

</dom-module>
